{% extends 'dashboard/base.html' %}
{% block title %}My Application{% endblock title %}
{% block breadcrumb %}
<li>{{ l_user.get_full_name }}</li>
{% endblock breadcrumb %}

{% block main %}

<div class="jumbotron shadow-lg">
    <div class="container text-center">
        <h2>{{ l_user.get_full_name }}</div>
        <p class="text-center">Application status: {{ l_user.profile.student.school_status }}</p>
        <div class="progress bg-white">
            {% if l_user.profile.student.school_status == 'pending' %}
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                aria-valuenow="50" 
                style="width: 50%"
                aria-valuemin="0" aria-valuemax="100" ></div>
            {% elif l_user.profile.student.school_status == 'admitted' %}
                <div class="progress-bar bg-success" role="progressbar"
                aria-valuenow="100" 
                style="width: 100%"
                aria-valuemin="0" aria-valuemax="100" ></div>
            {% elif l_user.profile.student.school_status == 'declined' %}
                <div class="progress-bar bg-danger" role="progressbar" 
                aria-valuenow="100" 
                style="width: 100%"
                aria-valuemin="0" aria-valuemax="100" ></div>
            {% endif %}
        </div>
        {% if balance.total_balance < 0 %}
            <div class="orders-list">
                <p>Please clear the following Invoices to proceed.</p>
                <ul>
                {% for invoice in invoices %}
                    <li>
                        <span class="orders-title">
                            <a href="{% url 'payments:invoice' invoice_id=invoice.id %}" class="orders-title-name">{{ invoice.get_total }} </a>
                            <span class="orders-info">{{ invoice.date }}: </span>
                            <span class="orders-info">{{ invoice.notes }}</span>
                        </span>
                        <span class="orders-btn">
                            <span class="badge badge-warning">{{ invoice.status }}</span>
                        </span>
                    </li>            
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <a href="" class="btn">Proceed</a>
        {% endif %}
    </div>
</div>

{% endblock main %}