{% extends 'dashboard/base.html' %}
{% block title %}Programmes{% endblock title %}

{% block breadcrumbTitle %}Programmes{% endblock breadcrumbTitle %}
{% block breadcrumb %}
<li>Programmes</li>
{% endblock breadcrumb %}
{% block main %}
{% load static %}
<div class="widget-box">
    <div class="widget-inner">
        {% for programme in programmes %}
            <div class="card-courses-list bookmarks-bx">
                <div class="card-courses-media">
                    <img src="{% static 'website/assets/images/logo.png' %}" alt=""/>
                </div>
                <div class="card-courses-full-dec">
                    <div class="card-courses-title">
                        <h4 class="m-b5">{{ programme.name }}</h4>
                    </div>
                    <div class="card-courses-list-bx">
                        <ul class="card-courses-view">
                            <li class="card-courses-categories">
                                <h5>School</h5>
                                <h4>{{ programme.school.name }}</h4>
                            </li>
                            <li class="card-courses-price">
                                <h5 class="text-primary m-b0">{{ programme.type }}</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="row card-courses-dec">
                        <div class="col-md-12">
                            <p>{{ programme.description }}</p>	
                        </div>
                        <div class="col-md-12">
                            <a href="{% url 'portal:programme' programme_id=programme.id %}" class="btn radius-xl">View Program</a>
                            <a href="{% url 'admissions:application' %}" class="btn primary outline radius-xl ">Apply</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}