{% extends 'dashboard/base.html' %}
{% block title %}Payments Due{% endblock title %}
{% block breadcrumbTitle %}Payments{% endblock breadcrumbTitle %}
{% block breadcrumb %}
<li>Payments</li>
{% endblock breadcrumb %}

{% block main %}
<div class="container">
    <center><h3>BALANCE: K{{ balance.total_balance }}</h3></center>
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
            <div class="widget-card widget-bg3">
                <center class="p-2">		
                    <a href="{% url 'payments:pending' %}" class="btn outline white">Pending Payments</a>
                </center> 			      
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
            <div class="widget-card widget-bg4">	
                <center class="p-2">		
                    <a href="" class="btn outline white">Cleared Payments</a>
                </center> 			      
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-12">
            <div class="widget-card widget-bg1">	
                <center class="p-2">		
                    <a href="{% url 'payments:submit-deposit-slip' %}" class="btn outline white">Submit Deposit Slip</a>
                </center> 			      
            </div>
        </div>
    </div>
    <div class="m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>Payment History</h4>
            </div>
            <div class="widget-inner">
                <div class="orders-list">
                    <ul>
                        {% for payment in payments %}
                            <li>
                                <span class="orders-title">
                                    <a href="{% url 'payments:payment' payment_id=payment.id %}" class="orders-title-name">{{ payment.amount }}</a>
                                    <span class="orders-info">{{ payment.deposit_date }} | {{ payment.transaction_id }} | {{ payment.description }}</span>
                                </span>
                                {% if payment.status == "pending" %}
                                    <span class="orders-btn">
                                        <span class="badge badge-primary">{{ payment.status }}</span>
                                    </span>
                                {% elif payment.status == "accepted" %}
                                    <span class="orders-btn">
                                        <span class="badge badge-success">{{ payment.status }}</span>
                                    </span>
                                {% elif payment.status == "declined" %}
                                    <span class="orders-btn">
                                        <span class="badge badge-danger">{{ payment.status }}</span>
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}