{% extends 'dashboard/base.html' %}
{% block title %}Application Success{% endblock title %}
{% block heading %}Application Success{% endblock heading %}

{% block main %}

<div class="card text-white bg-success mb-3 w-100">
  <div class="card-header">Success</div>
  <div class="card-body text-center">
    <h5 class="card-title">Your application was submitted successfully</h5>
    <p class="card-text">You can review your application status on your dashboard</p>
    <p class="card-text">Login using your email and the default password 123456.</p>
  </div>
</div>

{% endblock main %}